*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
   background-color: #30B868;
   color: white;
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
}
.button{
   background-color: darkgrey; 
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
}

.btn-button{
    align-items: center;
}    

header nav{
    background-color: white;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

#hero-banner{
    height: 850px;
    background-image: url('../Images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}
#hero-banner .early h5{
    background-color: white;
    color: #30B868;
    display: flex;
    flex-direction:column;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
#hero-banner .banner-title{
    font-size: 72px;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 20px;
}
#hero-banner section{
    padding: 150px 340px;
}
 .color-green{
    color: green;
}
.container p{
   font-size: 18px;
   font-weight: 400;
   color: white;
   line-height: 24px;
   text-align: center;
   margin-bottom: 32px;
}
#notes{
    padding: 60px 120px;    
}
#notes .notes-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
#notes .notes-heading p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}


#notes .notes-container .card-box{
   margin-top: 44px;
   display: flex; 
   justify-content: center;
   gap: 24px;
   margin-bottom: 77px;
}

.card-box .card-icon {
  padding: 24px; 
  box-shadow: 0 10px 20px -12px #0000003d;
  max-width: 322px;
  height: 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
 .card-box .card-icon a{
    background-image: url(/Images/Vector.png), url(/Images/Bookmarks.png), url(/Images/Brain.png), url(/Images/Info.png);
    width: 50px;
    height: 50px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 }
.card-box .card-icon h3{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}
.card-box .card-icon p{
  font-size: 16px;
  color: #627382;  
}
#brain{
    margin: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}
#brain .brain-img{
    background-image: url(/Images/knowledge.png);
}
#brain .second-brain h5{
   font-size: 16px;
   font-weight: 500;
   color: #30B868;
   line-height: 20px;
   text-align: left;
   margin-bottom: 16px;
}
#brain .second-brain h1{
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    line-height: 60px;
    text-align: left;
    margin-bottom: 16px;
}
#brain .second-brain p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    text-align: left;
    margin-bottom: 40px;
}
#brain .second-brain ul li{
    font-size: 16px;
    font-weight: 500;
    color:  rgba(0, 25, 49, 1);
    line-height: 20px;
    list-style-type: none;
    text-align: left;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}
#ready{
    margin: 0 120px 120px 120px;
}
#ready .ready-container{
  background-color: rgb(243, 240, 233);
  text-align: center;
  padding: 80px 40px; 
}
#ready .ready-container h1{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}
#ready .ready-container p{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 24px;
}

.early_access_description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.dot{   
width: 4px;
height: 4px;
background: black;
border-radius: 50px


}

#footer{
    background-color: black;
    color: white;
    padding: 130px 130px 30px 130px;
}
#footer .footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
#footer .footer-container .footer-logo{
   background-image: url(/Images/logo-footer.png); 
}
#footer .footer-container .social-links h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
   
}
.social-icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;

}
 .footer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border-top: 1px solid gray;
    color: white;
    padding-top: 30px;
}
